* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

header {
  background-color: #66bb6a;
  height: 10vh;
  color: #ffffff;
  padding-top: 25px; 
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  margin: 30px; 
  margin-top: 20px; 
  margin-left: 30px; 
  margin-right: 50px; 
  margin-bottom: 20px; 
  h2 {
    display: block; 
    display: inline; 
    display: inline-block; 
    width: 40%;
    padding-left: 160px;
    margin-top: 40px;
  }
  nav {
    display: block; 
    display: inline; 
    width: 40%; 
    display: inline-block; 
    text-align: end;
    a {
      margin-left: 40px; 
      color: #ffffff;
      text-decoration: none; 
    }
  }
}

.background {
  height: 60vh;
  background-image: url("./Imagem/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-top: 180px;
  h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    font-family: "Sansita Swashed", sans-serif;
  }
  p {
    font-size: 2rem;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  button {
    background-color: #66bb6a;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
  }
}

.cards {
  background-color: #f1f8e9;
  text-align: center;
}

.card {
  margin-top: 20px;
  width: 20vw;
  height: 50vh;
  background-color: #6efcd1;
  border-radius: 20px;
  border: solid rgb(0, 255, 191);
  display: inline-block;
  img {
    width: 100%;
    border-radius: 20px 20px;
  }
  h3 {
    margin-top: 20px;
    font-size: 1.75rem;
  }
  p {
    margin-top: 20px;
  }
  button {
    margin-top: 30px;
    padding: 10px;
    background-color: #66bb6a;
    color: #ffffff;
    border: none;
    font-size: 1.25rem;
    border-radius: 20px;
  }
}

@media (max-width: 900px) {
  .background h1 {
    font-size: 2.5rem;
  }
  .background p {
    font-size: 1.2rem;
    width: 95%;
    margin-left: 10px;
  }
  .card {
    width: 80vw;
    height: auto;
    margin-bottom: 20px;
    display: block;
  }
  .cards {
    padding: 10px;
  }
  header {
    h2, nav {
      display: block;
      width: 100%;
      padding-left: 10px;
      margin-top: 10px;
      text-align: left;
    }
    nav {
      text-align: left;
      margin-top: 0;
    }
  }
}

@media (max-width: 600px) {
  .background {
    padding-top: 80px;
    height: auto;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
      width: 100%;
      margin-left: 0;
    }
  }
  .card {
    width: 95vw;
    height: auto;
    margin-bottom: 15px;
    display: block;
  }
  header {
    h2, nav {
      padding-left: 0;
      margin-top: 5px;
      font-size: 1.2rem;
    }
    nav a {
      margin-left: 10px;
      font-size: 1rem;
    }
  }
}
